.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--card-color);
	height: 16rem;
	width: 11rem;
	border-radius: 1rem;
	padding:0.7rem 0;
	transition: transform 200ms linear;
}


.card:hover{
	transform:scale(1.05);
}

.card__imgbox-img{
	height: 8rem;
	width: calc(8rem/1.5);

	border-radius: 1rem;
}

.card__title{
	flex: 1 1 100%;
	padding: 0 0.5rem 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:var(--main-color);
	text-align: center;
	cursor: default;
}

.card__title-main{
	font-weight: 400;
	font-size: 1rem;
	max-height: 3rem;
	overflow-y: auto;
}



.card__title-eng{
	font-size: 0.6rem;
	font-style: italic;
	opacity:0.6;
}

.card__button{
	display: flex;
	justify-content: space-between;
	
}

.card__button-watch,
.card__button-more {
	border:none;
	border-radius: 0.4rem;
	padding: 0.5rem 0.1rem;
	width: 4.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	transition: all 100ms linear;
	cursor: pointer;
}

.card__button-watch{
	margin-right: 0.2rem;
	background-color: var(--main-color);
	border:0.1rem solid rgba(0,0,0,0);
}

.card__button-more{
	margin-left: 0.2rem;
	background-color: var(--bckg-color);
	border:0.1rem solid rgba(0,0,0,0);
	color: var(--main-color);
}

.card__button-watch:hover,
.card__button-more:hover{
	background-color: var(--add-color);
	color: var(--bckg-color);
	border:0.1rem solid var(--main-color);
}

.card__button-watch:hover{
	color: var(--main-color);
	border:0.1rem solid var(--bckg-color);
}

.search{
	margin-top: 5rem;
	margin-left: 2rem;
	color:var(--bckg-color);
	font-weight: 400;
	font-size: 1.3rem;
}
.search+main{
	margin-top: 0;
}

.search-text{
	color: var(--add-color);
	font-weight: 450;
	font-style: italic;
}


