.movieCard{
	grid-area: mainCard;
	grid-row: 2/5;
	
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	backdrop-filter: blur(0.2rem);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
/* transition: opacity 100ms linear; */
}

.noblur{
	backdrop-filter: none
}


.movieCard__main{
	width: 80%;
	height: 80%;
	background-color: var(--card-color);
	border-radius: 2rem;
	border: 0.1rem solid var(--add-color);
	position: relative;
	display: grid;
	grid-template-areas: 
	'info info cancel'
	;
	grid-template-columns: 1fr 0fr ;
	grid-template-rows: 0 1fr;
	justify-items: center;
	padding: 1rem 1rem 1rem 3rem;
	overflow-y: auto;
}




.random{
	padding: 1rem;
}
.movieCard__main::-webkit-scrollbar{
	width: 0.5rem;
}
.movieCard__main::-webkit-scrollbar-track{
	border-radius: 1rem;
	background-color: transparent;
}
.movieCard__main::-webkit-scrollbar-thumb{
	border-radius: 1rem;
}
.movieCard__main::-webkit-scrollbar-button {
  height: 1rem;
}
.movieCard__main__mainImg{
	grid-area: img;
	/* height: 50%; */
height: 34rem;
	flex:1 1 100%;
	display: flex;
	justify-content: center;

	/* margin-left: 2.5%; */
	display: none;

	
}

.movieCard__main__mainImg-img{
	height: 100%;
	border-radius: 2rem;
	
}

@media (min-width:1100px){
	.movieCard__main{
		overflow: hidden;
	}
	.movieCard__main{
		grid-template-areas: 
	'img info cancel';
	grid-template-columns: 0fr auto 0fr;
	}
	.movieCard__main__mainImg{
		display:flex;
	
		padding: 1rem 1rem 1rem 0;
	}
	.movieCard__main__info__discription{
		overflow-y: auto;
		
	
	}
}


.movieCard__main__info{

	grid-area: info;
	display: grid;
	
	grid-template-rows: auto auto 15rem;
	height: 100%;
	gap:1rem;
	
	align-items: center;
	color: var(--main-color);
	padding: 1rem;
}

.movieCard__main__info__title{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.movieCard__main__info__title-mainTitle{
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--add-color);
}

.movieCard__main__info__title-secTitle{
	font-weight: 200;
	font-style: italic;
	font-size: 1.3rem;

}

.movieCard__main__info__title-slogan{
	margin-top: 1rem;
	text-align: center;
	font-weight: 300;
	font-style: italic;
}

.movieCard__main__info__props{
	height: auto;
	width: 100%;
	font-weight: 200;	
	font-style: italic;
	color: var(--add-color);
}

.movieCard__main__info__props >*{
	display: block;
}

.movieCard__main__info__discription{
height: 100%;
max-height: 100%;

}
.movieCard__main__info__discription-text{
	height: 100%;
	line-height: 1.4rem;
	
	font-weight: 200;

}

.movieCard__main-cancel{
	grid-area: cancel;
	position: relative;

	display: block;
	float: right;
	width: 2rem;
	height: 2rem;
}
.movieCard__main-cancel:before{
	
   position: absolute;
 
    content: "\00d7"; /* use the hex value here... */
  font-size: 2rem;
    color: var(--main-color);
	width: 100%;
	height: 100%;
     left: 50%;
   top: 50%;
   transform: translate(-50%,-60%);
    text-align: center;
}
.movieCard__main-cancel:hover:before{
	color: var(--add-color);
	cursor: pointer;
}

