.sortBar{
	grid-area: sortBar;
	display: grid;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	grid-template-areas: 
	'search sortItems'
	'spanGenre sortItems';
	align-self:start;
	background-color: var(--bckg-color);
	padding: 0.5rem 1rem 0.5rem;
	color: var(--main-color);
}

@media (min-width:850px) {
	.sortBar{
		justify-content: start;
		grid-template-areas: 'search sortItems sortItems spanGenre';
	}
}

.sortItems{
	grid-area: sortItems span 2/sortItems ;
	font-size: 0.8rem;
	cursor: pointer;
	border-bottom: 0.05rem rgba(0,0,0,0) solid;
}


.sortItems:hover{
	color: var(--add-color);
}

.sortItems.active{
	border-bottom: 0.05rem var(--add-color) solid;
	color: var(--add-color);
}

.sortItems.active:hover{
	color:var(--text-color)
}
 
.small{
	grid-area: search;
	height: 1rem;
	width: calc(100vh*0.2);
}

.spanGenre{
	grid-area: spanGenre;
		font-size: 0.8rem;
}
.spanGenre-name{
	color: var(--add-color);
}